
<div  > 
  <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="registrationService.isAuthenticated">
  <div class="container-fluid">
     <a class="navbar-brand" href="#" routerLink="/home">
       <img src="assets/img/nav d.png" alt="">
     </a>
     
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
     </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
      <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#" routerLink="/home" routerLinkActive="active">     Home</a>
      </li>
     
     <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#" routerLink="/homeimg" routerLinkActive="active"> Menu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#" routerLink="/tablebooking" routerLinkActive="active"> TableBooking</a>
     </li>
     <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#" routerLink="/contact" routerLinkActive="active">    contact</a></li>
    
     
      
           
    </ul>
  </div>
</div>
</nav>
</div>
<router-outlet ></router-outlet>