
<header>
    <div class="container">
        <nav>
            <ul>
                <li style="padding-left: 1350px;">
                    <a href="#" routerLink="/cart-page">Cart</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<ul>
    <li *ngFor="let food of foods">
        <a routerLink="/food/{{food.id}}">
        <img src="{{food.imageUrl}}" alt="">
        <div class="content">
            {{food.name}}
        </div>
        <div class="cook-time">
            <span>🕒</span>
            {{food.cookTime}}
        </div>
        <div class="price">
            <span>{{food.price|currency:'INR'}}</span>
        </div>
        </a>
    </li>
</ul>
